.card {
  display: block;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;

  &__top {
    border-radius: 0;//10px 10px 0 0 ;
    border: 2px solid var(--primary-color);
    flex-grow: 1;
  }

  &__title {
    text-align: center;
    width: 100%;
    color: var(--primary-color);
    background-color: $white;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 0;//10px 10px 0 0;
    border-bottom: 2px solid var(--primary-color);
  }

  &__intro {
    font-weight: 400;
    padding: 0 10px;

  }

  &__img {
    filter: brightness(1);
    transition: filter 0.3s ease-out;
    object-fit: cover;
    object-position: center center;
    height: 150px;

    @include breakpoint(medium) {
      height: 150px;
    }
  }

  &__ico-wrap {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
    border-radius: 0;//0 0 10px 10px;
  }

  &__ico {
    color: $white;
    margin-left: 10px;
    font-size: 20px;

    &.ico {
      filter: var(--svg-white-filter);
    }
  }

  &:hover {

  }
}