.card {
  display: block;
  width: 100%;
  font-weight: bold;
  position: relative;
  border: 1px solid $lightgray;
  border-radius: 10px;

  @include breakpoint(medium) {
    aspect-ratio: 1.5;
  }

  &__title {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: $white;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    transform: translateY(-50%);
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
  }

  &__bg {
    filter: brightness(1);
    transition: filter 0.3s ease-out;
    object-fit: cover;
    object-position: center center;
    height: 150px;
    border-radius: 10px 10px 0 0;

    @include breakpoint(medium) {
      height: 100%;
    }

    img {
      border-radius: 10px 10px 0 0;
    }
  }

  &__ico-wrap {
    position: relative;
    // bottom: 0;
    // right: 0;
    width: 100%;
    background-color: $black;
    // filter: brightness(1);
    // transition: filter 0.3s ease-out;
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
  }

  &__ico {
    color: $white;
    margin-left: 10px;
    font-size: 20px;
  }

  &:hover {
    .card__title {
      opacity: 1;
    }

    .card__bg {
      filter: brightness(0.2);
    }
  }
}