.extra-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include breakpoint(large) {
    align-items: center;
  }

  &__flag {
    display: inline-block;
    width: 20px;
    border: 1px solid var(--text-color);
  }
}