.filter {
  @include reset_button();

  font-size: 16px;
  color: var(--primary-color);
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: $white;

  &--active {
    // border: 2px solid var(--secondary-color);
    // color: var(--secondary-color);
    background-color: var(--secondary-color);

    & .filter__ico {
      &.ico {
        //filter: var(--svg-secondary-filter);
      }
    }
  }

  &__ico {
    margin-right: 5px;

    &.ico {
      width: 16px;
      height: 16px;
      color: var(--text-color);
      filter: var(--svg-primary-filter);
    }
  }
}