.header{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 50px;
  max-width: 1200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  z-index: 10;

  @include breakpoint(large) {
    height: 100px;
  }
}