.ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  filter: var(--svg-text-filter);

  &--codeigniter {
    content: url(../../images/codeigniter.svg);
  }

  &--webpack {
    content: url(../../images/webpack.svg);
  }

  &--gsap {
    content: url(../../images/gsap.svg);
  }

  &--jquery {
    content: url(../../images/jquery.svg);
  }

  &--django {
    content: url(../../images/django.svg);
  }
}