.nav {
  width: 100%;

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    max-width: 200px;
    flex: 1;
    color: var(--text-over-accent);
  }

  &__link {
    display: block;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease-out;
    font-weight: bold;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      content: "";
      width: 120%;
      height: 100%;
      background: var(--secondary-color);
      transform-origin: right top;
      transition: transform 0.5s, background-color 0.5s;
      transform: skewX(-30deg) scale(0, 1);
    }

    &:hover {
      color: var(--text-over-accent);
    }

    &:hover::before {
      transform-origin: left top;
      transform: skewX(-30deg) scale(1, 1);
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: "";
      width: 120%;
      height: 0;
      background: var(--primary-color);
      transition: height 0.5s 0.5s, background-color 0.5s;
    }

    &--active {
      color: var(--text-over-accent);

      &::before {
        transform-origin: left top;
        transform: skewX(-30deg) scale(1, 1);
      }

      &::after {
        height: calc(100% - 1px);
      }

      &:hover {
        color: var(--text-over-accent);

        &::after {
          height: calc(100% - 1px);
        }
      }
    }
  }
}