.page-wrap {
  margin: 0 20px;
  max-width: 1200px;

  @include breakpoint(small) {
    margin: 0 30px;
  }

  @include breakpoint(xlarge) {
    margin: 0 auto;
  }

  &__filter-txt {
    margin-bottom: 10px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include breakpoint(large) {
      justify-content: flex-start;
    }
  }

  &__card {
    display: grid;
    grid-gap: 30px;
    max-width: 500px;
    margin: auto;

    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__category {
    margin-bottom: 20px;
    font-size: 16px;
  }

  &__intro {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__home {
    max-width: 700px;
    margin: auto;
  }
}