.page-wrap {
  margin: 50px 20px 0;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 100px);
  background-color: var(--background-color);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /*firefox*/
  padding: 20px;

  @include breakpoint(small) {
    margin: 100px 30px 0;
    padding: 30px;
  }

  @include breakpoint(large) {
    min-height: calc(100vh - 200px);
  }

  @include breakpoint(xlarge) {
    margin: 100px auto 0;
    min-height: calc(100vh - 200px);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  &__filter-button {
    margin-bottom: 20px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    max-height: 0;
    overflow: hidden;

    @include breakpoint(large) {
      justify-content: flex-start;
    }

    &--open {
      max-height: 500px;
    }
  }

  &__card {
    display: grid;
    grid-gap: 30px;
    max-width: 500px;
    margin: auto;
    grid-auto-rows: 1fr;
  
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      width: 100%;
      height: 100%;
    }
  }

  &__category {
    margin-bottom: 20px;
    font-size: 16px;
  }

  &__intro {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__about {
    height: 100%;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 30px;
  }

  &__extra-skills {
    margin-bottom: 60px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin: 40px 0 80px;
  }
}