.work-intro {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  margin:  0 0 40px;
  border-bottom: 1px solid var(--primary-color);

  @include breakpoint(large) {
    margin:  0 0 80px;
  }

  &__title {
    margin: 0 0 10px;
  }

  &__txt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__category {
    font-size: 14px;
  }
}