:root {
  --background-color: #fff;
  --primary-color: #087ea4;
  --secondary-color: #a42e08;
  --washed-primary-color: #087ea494;
  --text-color: #646464;
  --text-over-accent: #fff;
  --svg-primary-filter: brightness(0) saturate(100%) invert(33%) sepia(52%) saturate(1713%) hue-rotate(163deg) brightness(96%) contrast(94%);
  --svg-secondary-filter: brightness(0) saturate(100%) invert(17%) sepia(61%) saturate(4109%) hue-rotate(13deg) brightness(95%) contrast(94%);
  --svg-text-filter: invert(40%) sepia(13%) saturate(0%) hue-rotate(218deg) brightness(89%) contrast(84%);
  --svg-white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
}